<div class="container chatroom container-chatroom mb-3" data-controller="chatroom-subscription"
  data-chatroom-subscription-chatroom-id-value="<%= @chatroom.id %>" data-open-chatroom-target='viewChatroom'>
  <h2>#<%= @chatroom.name %></h2>
    <div class="messages" data-chatroom-subscription-target="messages">
      <% @chatroom.messages.each do |message| %>
      <%= render "message.html.erb", message: message %>
      <% end %>
    </div>
    <%= simple_form_for [@chatroom, @message],
      remote: true,
      html: {data: {chatroom_subscription_target: "form", autocomplete: 'off'}, class: "d-block"} do |f| %>
        <%= f.input :content,
          label: false,
          placeholder: "Message à votre Mairie",
          wrapper_html: {class: "flex-grow-1"},
          input_html: {class: 'input-profile-message', autocomplete: 'off'} %>
        <%= f.submit "Send", class: "profile d-none" %>
      <%end%>
  </div>
