<div id="message-<%= message.id %>">
  <small>
    <img src="<%= message.user.photo_url %>" alt="" class='avatar-messagerie'>
    <strong><%= message.user.nickname %>, </strong> le
    <em><%= message.created_at.strftime("%b %e à %l:%M %p") %></em>
  </small>
  <p><%= message.content %></p>
</div>
