
<%# ------------------------------- div title---------------------------------- %>

<div class="home-logo">
    <p>City Pulse</p><i class="fas fa-heartbeat"></i>
</div>






<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-4">
      <div>
        <h3>Pulse</h3>
      </div>
     </div>

    <div class="col-sm-12 col-md-4">
      <div>
        <h3>Pulse</h3>
      </div>
    </div>

    <div class="col-sm-12 col-md-4">
      <div>
        <h3>Pulse</h3>
      </div>
    </div>


  </div>
</div>

<%# ------------------------------- div title fin / debut call to action---------------------------------- %>


  <div class="home-call">

    <div class="dropdown my-5">
      <button class="btn btn--green">Cherche une ville!</button>
      <div class="dropdown-content" style='background: white;'>

        <% unless current_user.nil? %>
          <%= link_to 'Ta Ville', city_pulses_path(current_user.city), class: "dropdown-item dropdown-content-home"  %>
        <% end %>
        <%= link_to 'Lille', city_pulses_path(City.find_by(name: "Lille").id), class: "dropdown-item dropdown-content-home"  %>
        <%= link_to 'Paris', city_pulses_path(City.find_by(name: "Paris").id), class: "dropdown-item dropdown-content-home"  %>
        <%= link_to 'Marseille', city_pulses_path(City.find_by(name: "Marseille").id), class: "dropdown-item dropdown-content-home"  %>
        <%= link_to 'Rennes', city_pulses_path(City.find_by(name: "Rennes").id), class: "dropdown-item dropdown-content-home"  %>
        <%= link_to 'Bordeaux', city_pulses_path(City.find_by(name: "Bordeaux").id), class: "dropdown-item dropdown-content-home"  %>
        <%= link_to 'St Malo', city_pulses_path(City.find_by(name: "St Malo").id), class: "dropdown-item dropdown-content-home"  %>
      </div>
    </div>
  </div>

<%# ------------------------------- How it Works---------------------------------- %>


<div class="container-home">
  <div id="why">
    <h2>Implique toi !</h2>
  </div>
  <div class="card__container d-flex align-items-center">
    <div class="card">
      <div class="card__content">
        <button class="card__button"><i class="fas fa-heartbeat"></i></button>
        <h3  id="fonction" class="card__header">Pulse</h3>
        <p class="card__info">Propose une idée !</p>
      </div>
    </div>

    <div class="card">
      <div class="card__content">
        <button class="card__button"><i class="fas fa-heart"></i></button>
        <h3 id="fonction" class="card__header">Vote</h3>
        <p class="card__info">Soutien les pulses !</p>
      </div>
    </div>

    <div class="card">
      <div class="card__content">
        <button id=btn-fonction class="card__button"><i class="fas fa-thumbs-up"></i></button>
        <h3 id="fonction" class="card__header">Concretise</h3>
        <p id="description" class="card__info">Améliore ta ville !</p>
      </div>
    </div>
  </div>
</div>
<%# ------------------------------- How it Works fin---------------------------------- %>


<div class="container">
  <%= render 'shared/carroussel' %>
</div>
