# <-------------------------- SEARCHBAR -----pulses controller--------------------->

<% if params[:query].present? %>
  <% @city = City.search_by_city("#{params[:query]}") %>
<% else %>
  <% @city = "Paris" %>
<% end %>

<%= form_tag city_pulses_path(@city), method: :get do %>
  <%= text_field_tag :query,
    params[:query],
    class: "form-control",
    placeholder: "Dans quelle ville?"%>
<% end %>





<%= form_tag city_pulses_path(current_user.city.id), method: :get do %>
<%= text_field_tag :query,
  params[:query],
  class: "form-control",
  placeholder: "Trouve un Pulse ou un utilisateur"
%>
<%= submit_tag "Search", class: "btn btn-primary" %>
<% end %>
<%= link_to 'Pulse ton idée', new_city_pulse_path%>
</div>






# --------------------------- SEARCH -------studios controller--------------
if params[:query].present?
  sql_query = "title ILIKE :query OR address ILIKE :query"
  @studios = Studio.where(sql_query, query: "%#{params[:query]}%")
else
  @studios = Studio.all
end
end

def show
@studio = Studio.find(params[:id])
@booking = Booking.new
@review = Review.new
@reviews = @studio.reviews
@average_rating = @reviews.average(:rating)
# je teste la ligne superieure
authorize @studio






SEARCH DE MACK


    <div class="container">
    <%= simple_form_for :search, url: root_path, method: :get do |f| %>
      <div class="search-form-control form-group">
        <input class="form-control string required" type="text" name="search[query]" id="search_query" />
        <button name="button" type="submit" class="btn btn-flat">
          <i class="fas fa-search"></i> Trouve ta ville
        </button>
      </div>
    <% end %>
  </div>
