
<%# ------------------------------- div title---------------------------------- %>

<div class="home-logo">
    <p>City Pulse</p><i class="fas fa-heartbeat"></i>
</div>

<%# ------------------------------- div title fin / debut call to action---------------------------------- %>


  <div class="home-call">

    <div class="dropdown">
      <button class="btn btn--green">Cherche ta ville</button>
      <div class="dropdown-content">

        <% unless current_user.nil? %>
          <%= link_to 'Ta Ville', city_pulses_path(current_user.city), class: "dropdown-item searchbarhome-drop"  %>
        <% end %>
        <%= link_to 'Lille', city_pulses_path(City.find_by(name: "Lille").id), class: "dropdown-item searchbarhome-drop"  %>
        <%= link_to 'Paris', city_pulses_path(City.find_by(name: "Paris").id), class: "dropdown-item searchbarhome-drop"  %>
        <%= link_to 'Marseille', city_pulses_path(City.find_by(name: "Marseille").id), class: "dropdown-item searchbarhome-drop"  %>
        <%= link_to 'Rennes', city_pulses_path(City.find_by(name: "Rennes").id), class: "dropdown-item searchbarhome-drop"  %>
        <%= link_to 'Bordeaux', city_pulses_path(City.find_by(name: "Bordeaux").id), class: "dropdown-item searchbarhome-drop"  %>
        <%= link_to 'St Malo', city_pulses_path(City.find_by(name: "St Malo").id), class: "dropdown-item searchbarhome-drop"  %>
      </div>
  </div>

        <p>OU</p>

        <div class="u-center-text u-margin-top-huge">
          <a href="#" class="btn btn--green">Pulse</a>
          <%# <%= link_to 'Pulse ton idée', new_city_pulse_path, id:"button-pulse-red"%>
        </div>
  </div>



<%# ------------------------------- How it Works---------------------------------- %>

<div class="container-home">



  <div id="why">
    <h2>S'impliquer dans sa ville</h2>
  </div>

  <div class="card__container">

    <div class="card">

      <div class="card__content">
        <button class="card__button"><i class="fas fa-heartbeat"></i></button>
        <h3  id="fonction" class="card__header">Pulse</h3>
        <p class="card__info">Propose une idée pour pulser ta ville</p>
      </div>

    </div>

    <div class="card">

      <div class="card__content">
        <button class="card__button"><i class="fas fa-heart"></i></button>
        <h3 id="fonction" class="card__header">Vote</h3>
        <p class="card__info">Soutiens les pulses !</p>
      </div>

    </div>

    <div class="card">

      <div class="card__content">
        <button id=btn-fonction class="card__button"><i class="fas fa-thumbs-up"></i></button>
        <h3 id="fonction" class="card__header">Concretise</h3>
        <p id="description" class="card__info">Donne vie au pulse de ta ville</p>
      </div>

    </div>

  </div>



</div>
<%# ------------------------------- How it Works fin---------------------------------- %>







<%# ------------------------------- Là où ca pulse !---------------------------------- %>

<%# ------------------------------- Là où ca pulse ! fin---------------------------------- %>

<div class="container">

<%= render 'shared/carroussel' %>

</div>
