<%# ================= GEOCODER ================= %>
<div id="map">
  <div style="width: 100%; height: 600px;"
    data-controller="mapbox"
    data-mapbox-markers-value="<%= @markers.to_json %>"
    data-mapbox-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>
</div>

<div class='p-5'>
  <%# ================= NAVIGATION ================= %>
  <div class="navigation d-flex align-items-center justify-content-around mb-5">
    <%= link_to root_path, class:" text-decoration-none button-back d-flex mx-5" do %>
      <i class="fas fa-arrow-left"> Change de ville !</i>
    <% end %>

    <%# ----------- searchbar -------- %>
    <div class= "searchbarindex">
      <%= form_tag city_pulses_path(@city), method: :get do %>
        <%= text_field_tag :query,
          params[:query],
          class: "form-control",
          placeholder: "Trouve un Pulse ou un utilisateur"%>
        <%= submit_tag "Search", class: "d-none btn btn-primary" %>
      <% end %>
    </div>
    <%# ----------- link to form new -------- %>
    <div>
      <% if user_signed_in? && current_user.city == @city %>
        <%= link_to 'Pulse ton idée', new_city_pulse_path, class:"button-pulse-red p-2"%>
      <% end %>
    </div>
  </div>
</div>

<div class="container" data-controller="filter">
  <div class="d-flex justify-content-between mb-5">
  <button class= 'buttonfilter' data-action="click->filter#filter_by" data-filter-type="order">Plus likés</button>
  <button class= 'buttonfilter' data-action="click->filter#filter_by" data-filter-type="done">Réalisés</button>
  <div class="dropdown">
  <button class="dropbtn">Catégories</button>
  <div id="myDropdown" class="dropdown-content" data-filter-target="categ">
    <button data-action="click->filter#filter_by" data-filter-type="category">Transports</button>
    <button data-action="click->filter#filter_by" data-filter-type="category">Ecologie</button>
    <button data-action="click->filter#filter_by" data-filter-type="category">Sécurité</button>
    <button data-action="click->filter#filter_by" data-filter-type="category">Santé</button>
    <button data-action="click->filter#filter_by" data-filter-type="category">Culture</button>
    <button data-action="click->filter#filter_by" data-filter-type="category">Sport</button>
  </div>
</div>
</div>

  <%# ================= CARDS ================= %>
  <div class='card-pulse-container mb-5'data-filter-target='container'>
      <% @pulses.each do |pulse| %>
        <div class="card-pulse" data-filter-target='card' data-votes=<%= pulse.favorites.length %> data-done=<%= pulse.status%> data-category= <%= @pulses.find(pulse.id).categories.first.name %>>
        <img class="avatar" src="<%= pulse.user.photo_url %>" alt="">
            <img id= "card-pulse-img" src= <%=pulse.photo_url.nil? ? 'https://source.unsplash.com/random' : pulse.photo_url%>/>
          <div class="card-pulse-infos" id="pulse-<%= pulse.id %>">
            <div class='mb-3 mt-2'>
              <%= link_to city_pulse_path(@city, pulse), class:"text-decoration-none" do %>
               <h2><%= pulse.title %> <%= @pulses.find(pulse.id).categories.first.image %></h2>
              <% end %>
            </div>
            <div class='d-flex'>
              <div>
                <p> <%= pulse.solution %></p>
              </div>
              <div class="card-pulse-votes" data-filter-target='votes'>
                <span style="font-size:30px;"> <%= pulse.favorites.length + 100%> </span>
                <span style="font-size:12px;">votes</span>
              </div>
              <div class="card-pulse-votes" data-filter-target='votes'><%= pulse.favorites.length %> votes</div>
            </div>
          <%# ------- favorites ----------- %>
          <% if pulse.liked?(current_user)%>
            <%= link_to favorite_path(pulse.favorites.find_by(user_id: current_user).id, city_id: current_user.city), remote: true, method: :delete do %>
              <button class="button-like-red"><i class="fas fa-heartbeat"></i></button>
            <% end %>
          <% else %>
            <%= link_to pulse_favorites_path(pulse, city_id: @city), remote: true, method: :post do %>
              <button class="button-like-blue"><i class="fas fa-heartbeat"></i></button>
            <% end %>
          <% end %>
          <%# <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-trip-user avatar-bordered" /> %>
        </div>
      </div>
    <% end %>
  </div>
</div>
