<div class="container">
  <div class="btn">
    <%= link_to 'Ma ville', city_pulses_path%>
  </div>

  <div class="form-title">
    <h2>Envoi ton Pulse !</h2>
  </div>

  <div class="form">
    <%= simple_form_for([@city, @pulse], html: { class: "fix-form"}) do |f| %>

    <div class="city-form-group">
      <%= f.label :problem, label: "C'est quoi ton problème ?", class: "label"%>
        <div class="input-group mb-3 group-input-avatar">
        <%= f.input :problem, input_html: { class: "input form-control form-custom" }, wrapper_html: { class: "problem" }, label: false %>
          <div class="input-group-append avatar-input">
          <%= image_tag "https://kitt.lewagon.com/placeholder/users/ssaunier", class: "avatar input-group-text" %>
          </div>
        </div>
      </div>

    <div class="city-form-group">
      <%= f.label :solution, label: "Tu proposes quoi ?", class: "label"%>
      <div class="input-group mb-3 group-input-avatar">
      <%= f.input :solution, input_html: { class: "input form-control form-custom" }, wrapper_html: { class: "problem" }, label: false %>
        <div class="input-group-append avatar-input">
        <%= image_tag "https://kitt.lewagon.com/placeholder/users/ssaunier", class: "avatar input-group-text" %>
        </div>
      </div>
    </div>

    <div class="city-form-group">
      <%= f.label :address, label: "Balance une adresse !", class: "label"%>
      <div class="input-group mb-3 group-input-avatar">
      <%= f.input :address,
          input_html: { data: { geocoder_target: "address" } },
          input_html: { class: "input form-control form-custom" },
          wrapper_html: { data: { controller: "geocoder", geocoder_api_key_value: ENV['MAPBOX_API_KEY'] }, class:"problem" }, label: false %>
        <div class="input-group-append avatar-input">
          <%= image_tag "https://kitt.lewagon.com/placeholder/users/ssaunier", class: "avatar input-group-text" %>
        </div>
      </div>
    </div>

    <div class="city-form-group">
      <%= f.label :title, label: "Donne moi un titre fort !", class: "label"%>
      <div class="input-group mb-3 group-input-avatar">
      <%= f.input :title, input_html: { class: "input form-control form-custom" }, wrapper_html: { class: "problem" }, label: false  %>
      <div class="input-group-append avatar-input">
        <%= image_tag "https://kitt.lewagon.com/placeholder/users/ssaunier", class: "avatar input-group-text" %>
        </div>
      </div>
    </div>

      <%# f.input :photos, as:file %>
      <%= f.association :categories, include_hidden: false, label: "Dernière étape : Catégorise moi !" %>
      <%= f.submit%>
    <% end %>

  </div>
</div>
