
<div class="container">

  <div class="top-show">
   <div class="mt-3">
  <%= link_to city_pulses_path(@pulse.city), class:"linkto" do %>
    <p class="linkto" style="margin-top: 0px;"><i class="fas fa-arrow-left mb-3"> </i> Pulses de la ville</p>
  <% end %>
</div>
    <div class="show-counter">
      <div class="counter-show">
        <div>
          <h1><%= @pulse.favorites.length + (@pulse.fake_votes.nil? ? 0 : @pulse.fake_votes) %></h1>
        </div>
        <div>
          <p><%= 'vote'.pluralize(@pulse.favorites.length) %></p>
        </div>
      </div>
    </div>
    <div style= "width: 16%;"></div>

  </div>

      <div class="show-title">
        <h1 class='main-title'><%= @pulse.title.upcase %></h1>
        <h2 class="show-picto"><% Pulse.find(@pulse.id).categories.each do |category| %>
          <span class="picto-index"><%= sanitize category.image %></span>
        <% end %>
        </h2>
      </div>

      <div class="progress-show">
        <% if @pulse.status == "Votes en cours" %>
          <div><i id="bulb" class="far fa-lightbulb"></i></div><div><i id="thumb-off" class="far fa-thumbs-up"></i></div><div><i id="check-off" class="far fa-check-circle"></i></div>
        <% elsif @pulse.status == "Réalisé" %>
          <div><i id="bulb" class="far fa-lightbulb"></i></div><div><i id="thumb-on" class="far fa-thumbs-up"></i></div><div><i id="check-on" class="far fa-check-circle"></i></div>
        <% else %>
          <div><i id="bulb" class="far fa-lightbulb"></i></div><div><i id="thumb-on" class="far fa-thumbs-up"></i></div><div><i id="check-off" class="far fa-check-circle"></i></div>
        <% end %>
      </div>



  <div class="show-container">
    <div class="show-content">
      <div class="show-presentation">
        <div class="idea-container">
          <div> <img class="avatar-show" src="<%= @pulse.user.photo_url %>" alt="">
          </div>
          <div class='pulse-why'>
            <h2>Son problème </h2>
            <p><%= @pulse.problem %></p>
          </div>
        </div>
        <div class="solution-container">
          <div class='solution-solved'>
            <h2>Sa solution</h2>
            <p><%= @pulse.solution %></p>
          </div>
        </div>
      </div>
    </div>
    <div class="show-image">
    <% if @pulse.photo.attached? %>
      <div class="image-show-right" style="background-image:url(<%= cl_image_path(@pulse.photo.key) %>);"></div>
    <% else %>
      <img src= <%= @pulse.photo_url%>/>
    <% end %>
    </div>
  </div>

      <div class="like-show" id="pulse-<%=@pulse.id%>">
        <% if @pulse.liked?(current_user)%>
          <%= link_to favorite_path(@pulse.favorites.find_by(user_id: current_user).id, city_id: current_user.city, current_page: "show"), remote: true, method: :delete do %>
            <button class="button-like-red-show">
              <i class="fas fa-heartbeat"></i>
            </button>
            <% end %>
        <% else %>
          <%= link_to pulse_favorites_path(@pulse, city_id: @city, current_page: "show"), remote: true, method: :post do %>
            <button class="button-like-blue-show">
              <i class="fas fa-heartbeat"></i>
            </button>
          <% end %>
        <% end %>
      </div>

  </div>
</div>
