
<div class="container">

  <div class="card-counter-pulse">
    <div>
      <h1><%= @pulse.favorites.length %></h1>
    </div>
    <div>
      <p><%= 'vote'.pluralize(@pulse.favorites.length) %></p>
    </div>
  </div>

  <div>
  <%= link_to city_pulses_path(@pulse.city), id:"button-back" do %>
    <p><i class="fas fa-arrow-left ms-5 mb-3"> </i> Ta ville</p>
  <% end %>
  </div>

      <div class="show-title">
        <h1 class='main-title'><%= @pulse.title.upcase %></h1>
        <div class="show-picto">
          <h2><% Pulse.find(@pulse.id).categories.each do |category| %>
            <span class="picto-index"><%= sanitize category.image %></span>
          <% end %>
          </h2>
        </div>
      </div>

  <div class="show-content">
    <div class="show-presentation">
      <div class="idea-container">
        <div> <img class="avatar-show" src="<%= @pulse.user.photo_url %>" alt="">
        </div>
        <div class='pulse-why'>
          <h2>Mon probleme </h2>
          <p><%= @pulse.problem %></p>
        </div>
      </div>

      <div class="solution-container">
        <div class='solution-solved'>
          <h2>Ma solution</h2>
          <p><%= @pulse.solution %></p>
        </div>
      </div>
    </div>
  </div>


      <div class="like-show" id="pulse-<%=@pulse.id%>">
        <% if @pulse.liked?(current_user)%>
          <%= link_to favorite_path(@pulse.favorites.find_by(user_id: current_user).id, city_id: current_user.city, current_page: "show"), remote: true, method: :delete do %>
            <button class="button-like-red-show">
              <i class="fas fa-heartbeat"></i>
            </button>
            <% end %>
        <% else %>
          <%= link_to pulse_favorites_path(@pulse, city_id: @city, current_page: "show"), remote: true, method: :post do %>
            <button class="button-like-blue-show">
              <i class="fas fa-heartbeat"></i>
            </button>
          <% end %>
        <% end %>
      </div>

  </div>
</div>
