  <div class="card-counter-pulse">
    <div><h1><%= @pulse.favorites.length %></h1></div>
    <div><p><%= 'vote'.pluralize(@pulse.favorites.length) %></p></div>
  </div>

  <%= link_to city_pulses_path(@pulse.city), id:"button-back" do %>
    <p><i class="fas fa-arrow-left ms-5 mb-3"> </i> Ta ville</p>
  <% end %>

<div class="container">

  <%# PROGRESS STEP BAR %>

  <%# <ul class="steps">
    <li class="step step-success">
      <div class="step-content">
        <span class="step-circle"><i class="fas fa-lightbulb"></i></span>
        <span class="step-text">Postée</span>
      </div>
    </li>
    <li class="step step-success">
      <div class="step-content">
        <span class="step-circle"><i class="fas fa-heart"></i></span>
        <span class="step-text">Vote</span>
      </div>
    </li>
    <li class="step step-active">
      <div class="step-content">
        <span class="step-circle"><i class="fas fa-check"></i></span>
        <span class="step-text">Validée</span>
      </div>
    </li>
    <li class="step">
      <div class="step-content">
        <span class="step-circle"><i class="fas fa-thumbs-up"></i></span>
        <span class="step-text">Réalisée</span>
      </div>
    </li>
  </ul> %>


  <%# ------------------- progress bar js---------------------------- %>
  <div class="bar">
    <%# <h1>Step Progress Bar</h1> %>

    <div class="progress-container">

      <div class="progress" id="progress"></div>

        <div class="circle active"><i class="fas fa-lightbulb" id="bar-icon"></i></div>
        <div class="circle"><i class="fas fa-heartbeat" id="bar-icon"></i></div>
        <div class="circle"><i class="fas fa-check" id="bar-icon"></i></div>
        <%# <div class="circle"><i class="fab fa-react" id=bar></i></div> %>

    </div>
  </div>

  <div class="bar">
    <button class="btn" id="prev" disabled>Prev</button>
    <button class="btn" id="next">Next</button>
  </div>

  <%# ------------------- progress bar js fin ---------------------------- %>

      <%# div pulses title%>

    <h1 class=" m-3 title-head"><%= @pulse.title %></h1>
        <h1><%= @pulse.user.nickname %></h1>


  <div class="container">
    <div class="box-pulse-show">
      <div class="pulse-card-why">
        <img class="avatar-large-profile" src="<%= @pulse.user.photo_url %>" alt="">
        <div class="pt-3 inner-pulse-card">
          <h2 class="ms-5">Mon probleme </h2>
          <p><%= @pulse.problem %></p>
        </div>
      </div>
      <div class="pulse-card-why selected">
        <div class="p-3">
          <h2>Ma Solution</h2>
          <p><%= @pulse.solution %></p>
        </div>
      </div>
      <%# <div class="bar">
        <button class="card__button"><i class="fas fa-heart"></i></button>
      </div> %>
    </div>
  </div>

      <div class="u-center-text u-margin-top-huge">
        <a href="#" class="btn btn--green">Pulse</a>
      </div>


</div>
