<%# 1 div container pour toute la page  %>
<div class="container mt-5">

<%= link_to city_pulses_path(current_user.city) do %>
  <p><i class="fas fa-arrow-left mb-3"> </i> Pulses de ta ville</p>
<% end %>

  <%# 2 div du profil en haut de la page  %>
  <div class="profile-card d-flex justify-content-between border p-3 m-5">

  <%# 3 div a gauche avec nom grade et ville %>
    <div class="w-50">
      <img class="avatar-large-profile" src="<%= current_user.photo_url %>" alt="">
      <div class="profile-card-left">
        <h1><%= current_user.nickname %></h1>
        <h2>Ville: <%= current_user.city.name %></h2>
        <h2>Grade: <%= current_user.grade %></h2>
        <h2>XP: <%= current_user.xp %></h2>
      </div>
    </div>

  <%# 4 div a droite avec nom thématiques et bio %>
    <div class="w-50">
      <h2>Principales thématiques: <i class="fas fa-leaf"></i> <i class="fas fa-biking"></i></h2>
      <h2>Bio: </h2>
      <p><%= current_user.bio %> </p>
    </div>
  <%# fin div 2 %>
  </div>

<%# 5 div échanges mairie et meilleurs pulses %>
  <div class="profile-card-bottom d-flex justify-content-between border p-3 m-5">

<%# 6 div meilleurs pulses %>
    <div class="w-50 m-3">
      <h2>Tes meilleurs Pulses</h2>
      <% unless current_user.pulses[-1].blank? %>
        <h3><%= current_user.pulses[-1].title %></h3>
        <p><%= current_user.pulses[-1].solution %></p>
        <p>a modifier avec les vrais favoris</p>
        <%#= @best_pulses %>
        <%#= best_favorites(current_user) %>
      <% end %>
    </div>

<%# 7 div échanges mairie %>
    <div class="w-50 m-3">
      <h2>Tes échanges avec la Mairie</h2>
      <p>current_user.pulses.???</p>
      <p>current_user.pulses.???</p>
      <p>current_user.pulses.???</p>
    </div>
<%# fin div 5 %>
  </div>

<%# 7 div derniers pulses postés et aimés %>
  <div class="profile-card-bottom d-flex justify-content-between border p-3 m-5">

<%# 8 div derniers pulses postés %>
    <div class="w-50 m-3">
      <h2>Tes derniers Pulses postés</h2>
      <div class="pulses-profile border p-2 mb-2">
        <% unless current_user.pulses[-1].blank? %>
          <h3><%= current_user.pulses[-1].title %></h3>
          <p><%= current_user.pulses[-1].solution %></p>
          <p><%= current_user.pulses[-1].created_at.strftime("Pulsé le %m/%d/%Y") %></p>

        <% end %>
      </div>
      <div class="pulses-profile border p-2 mb-2">
        <% unless current_user.pulses[-2].blank? %>
          <h3> <%= current_user.pulses[-2].title %> </h3>
          <p><%= current_user.pulses[-2].solution %></p>
          <p><%= current_user.pulses[-2].created_at.strftime("Pulsé le %m/%d/%Y") %></p>

        <% end %>
      </div>
      <div class="pulses-profile border p-2 mb-2">
        <% unless current_user.pulses[-3].blank? %>
          <h3> <%= current_user.pulses[-3].title %> </h3>
          <p><%= current_user.pulses[-3].solution %></p>
          <p><%= current_user.pulses[-3].created_at.strftime("Pulsé le %m/%d/%Y") %></p>
        <% end %>
      </div>
    </div>

<%# 9 div derniers pulses aimés %>
    <div class="w-50 m-3">
      <h2>Tes derniers Pulses aimés</h2>
      <div class="pulses-profile border p-2 mb-2">
        <% unless current_user.favorites[-1].pulse.blank? %>
          <h3><%= current_user.favorites[-1].pulse.title %>,
            par <%= current_user.favorites[-1].pulse.user.nickname %>
            de <%= current_user.favorites[-1].pulse.user.city.name %>,
            le <%= current_user.favorites[-1].pulse.created_at.strftime("%m/%d/%Y") %></h3>
          <p><%= current_user.favorites[-1].pulse.solution %></p>
        <% end %>
      </div>
      <div class="pulses-profile border p-2 mb-2">
        <% unless current_user.favorites[-2].pulse.blank? %>
          <h3><%= current_user.favorites[-2].pulse.title %>,
            par <%= current_user.favorites[-2].pulse.user.nickname %>
            de <%= current_user.favorites[-2].pulse.user.city.name %>,
            le <%= current_user.favorites[-1].pulse.created_at.strftime("%m/%d/%Y") %></h3>
          <p><%= current_user.favorites[-2].pulse.solution %></p>
        <% end %>
      </div>
      <div class="pulses-profile border p-2 mb-2">
        <% unless current_user.favorites[-3].pulse.blank? %>
          <h3><%= current_user.favorites[-3].pulse.title %>,
            par <%= current_user.favorites[-3].pulse.user.nickname %>
            de <%= current_user.favorites[-3].pulse.user.city.name %>,
            le <%= current_user.favorites[-1].pulse.created_at.strftime("%m/%d/%Y") %></h3>
          <p><%= current_user.favorites[-3].pulse.solution %></p>
        <% end %>
      </div>
    </div>
<%# fin div 7 %>
  </div>

<%# fin div 1 %>
</div>
