<!DOCTYPE html>
<html>
  <head>
    <title>City Pulse</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
  </head>

  <body style="background-color: white;">
    <div class="wrapper">
      <%= render 'shared/navbar' %>
      <%= render 'shared/flashes' %>

      <%= yield %>
      <div class="push">
      </div>
    </div>



  <div class="footer">
      <div class="ms-5 me-5 d-flex">
        <div class="footer-links">
          <a href="https://github.com/Pyh0rns/rails-city-pulse"><i class="fab fa-github"></i></a>
          <a href="#"><i class="fab fa-instagram"></i></a>
        </div>
        <div class="footer-links">
          <a href="#"><i class="fab fa-twitter"></i></a>
          <a href="#"><i class="fab fa-linkedin"></i></a>
        </div>
        <div class="footer-links">
          <a href="#"><i class="fab fa-facebook"></i></a>
        </div>
      </div>

      <div class="infos">
        <h3>A propos</h3>
          <a href="">Contact</a>
          <a href="">Conditions générales</a>
      </div>

      <div class="infos">
        <h3> Ca pulse !</h3>
          <a href="">Nouveau Pulse</a>
          <a href="">Nouvelle ville</a>
      </div>

       <div class="me-5 infos">
        <h3>Nous rejoindre</h3>
          <a href="">Offres d'emploi</a>
          <a href="">Contact RH</a>
      </div>
    </div>

  </body>
</html>
